<title>What is higher?</title>
<style type='text/css' >
    body{background:#659DBD;
        color: #FBEEC1;
        font-family: arial, sans-serif;}
    #main_body{background:white;
        color:black;
        width:500px;
        display:inline-block;}
    .center_wrapper{
        width:100%;
        text-align:center;}
    #answer_wrapper{
        display:flex;
        flex-direction:row;
        justify-content: space-around;}
    #left_answer{
        float:left;
        width:200px;
        padding: 25px;
        display:flex;
        flex-direction:column;}
    #right_answer{
        width:200px;
        padding: 25px;
        display:flex;
        flex-direction:column;}
    #response{
        display:inline-block;
        width:500px;
{% if response %}
  {% if response.positive %}
        background-color:green;
  {% else %}
        background-color:red;
  {% endif %}
{% endif %}
        }
</style>

{% if debug %}
<p>{{debug}}</p>
{% endif %}

<div class='center_wrapper'>
<div id='response'>
{% if response %}
  <h1>{{response.text}}</h1>
{% endif %}
</div>
</div>

<div class='center_wrapper'>
<div id='main_body' >
<h1>What is higher?</h1>


<form action='/answer' method='POST'>
<div id='answer_wrapper'>
    <div id='left_answer'>
        <input type='image' name='{{a1.correct}}' src='{{a1.image}}' width='200pxl' /><br />
        <input type='submit' name='{{a1.correct}}' value='{{a1.name}}'/>
    </div>
    <div id='right_answer'>
        <input type='image' name='{{a2.correct}}' src='{{a2.image}}' width='200pxl' /><br />
        <input type='submit' name='{{a2.correct}}' value='{{a2.name}}' />
    </div>
</div>
</form>
</div>
</div>
</form>
