body{background:#659DBD !important;
    margin-top:1em !important;}
#main_body{
    background:white;}
#main_body>h1{
    padding-top:0.5em;}
.center_wrapper{
    width:100%;
    text-align:center;}
.center_wrapper > div{
    display:inline-block;
    width:500px;}